{
  "parser": "babel-eslint",     // https://github.com/babel/babel-eslint
  // Extend existing configuration from ESlint and eslint-plugin-react defaults.
  "extends": [
    "eslint:recommended",       // http://eslint.org/docs/rules/
  ],
  // Enable ES6 support. If you want to use custom Babel
  // features, you will need to enable a custom parser
  // as described in a section below.
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  // Enable custom plugin known as eslint-plugin-jest
  "plugins": [
    "jest"
  ],
  "rules": {
    // Default to single quotes and raise an error if something
    // else is used
    "quotes": [2, "single"],
    //Variables
    "no-shadow": 2,                  // http://eslint.org/docs/rules/no-shadow
    "no-shadow-restricted-names": 2, // http://eslint.org/docs/rules/no-shadow-restricted-names
    "no-use-before-define": 0,       // http://eslint.org/docs/rules/no-use-before-define
    //Possible errors
    "no-alert": 2,                   // http://eslint.org/docs/rules/no-alert
    "block-scoped-var": 0,           // http://eslint.org/docs/rules/block-scoped-var
    //ES6
    "no-var": 2,                     // http://eslint.org/docs/rules/no-var
    "prefer-const": 2,               // http://eslint.org/docs/rules/prefer-const
    //Best Practices
    "curly": [2, "multi-line"],      // http://eslint.org/docs/rules/curly
    "default-case": 2,               // http://eslint.org/docs/rules/default-case
    "dot-notation": [2, {            // http://eslint.org/docs/rules/dot-notation
      "allowKeywords": true,
      "allowPattern": "^[a-z]+(-[a-z]+)+$",
    }],
    "comma-dangle": [2,             //http://eslint.org/docs/rules/comma-dangle
      "always-multiline"
    ],
    "eqeqeq": 2,                     // http://eslint.org/docs/rules/eqeqeq
    "guard-for-in": 0,               // http://eslint.org/docs/rules/guard-for-in
    "no-caller": 2,                  // http://eslint.org/docs/rules/no-caller
    "no-eq-null": 2,                 // http://eslint.org/docs/rules/no-eq-null
    "no-eval": 2,                    // http://eslint.org/docs/rules/no-eval
    "no-extend-native": 2,           // http://eslint.org/docs/rules/no-extend-native
    "no-extra-bind": 2,              // http://eslint.org/docs/rules/no-extra-bind
    "no-fallthrough": 2,             // http://eslint.org/docs/rules/no-fallthrough
    "no-floating-decimal": 2,        // http://eslint.org/docs/rules/no-floating-decimal
    "no-implied-eval": 2,            // http://eslint.org/docs/rules/no-implied-eval
    "no-lone-blocks": 2,             // http://eslint.org/docs/rules/no-lone-blocks
    "no-loop-func": 2,               // http://eslint.org/docs/rules/no-loop-func
    "no-multi-str": 2,               // http://eslint.org/docs/rules/no-multi-str
    "no-native-reassign": 2,         // http://eslint.org/docs/rules/no-native-reassign
    "no-new": 2,                     // http://eslint.org/docs/rules/no-new
    "no-new-func": 2,                // http://eslint.org/docs/rules/no-new-func
    "no-new-wrappers": 2,            // http://eslint.org/docs/rules/no-new-wrappers
    "no-octal-escape": 2,            // http://eslint.org/docs/rules/no-octal-escape
    "no-param-reassign": 2,          // http://eslint.org/docs/rules/no-param-reassign
    "no-proto": 2,                   // http://eslint.org/docs/rules/no-proto
    "no-redeclare": 2,               // http://eslint.org/docs/rules/no-redeclare
    "no-return-assign": 2,           // http://eslint.org/docs/rules/no-return-assign
    "no-script-url": 2,              // http://eslint.org/docs/rules/no-script-url
    "no-self-compare": 2,            // http://eslint.org/docs/rules/no-self-compare
    "no-sequences": 2,               // http://eslint.org/docs/rules/no-sequences
    "no-throw-literal": 2,           // http://eslint.org/docs/rules/no-throw-literal
    "no-trailing-spaces": 2,         //http://eslint.org/docs/rules/no-trailing-spaces
    "no-underscore-dangle": 0,       //http://eslint.org/docs/rules/no-underscore-dangle
    "no-with": 2,                    // http://eslint.org/docs/rules/no-with
    "radix": 2,                      // http://eslint.org/docs/rules/radix
    "semi": [2, "always", {          //http://eslint.org/docs/rules/semi
       "omitLastInOneLineBlock": true
    }],
    "vars-on-top": 2,                // http://eslint.org/docs/rules/vars-on-top
    "wrap-iife": [2, "any"],         // http://eslint.org/docs/rules/wrap-iife
    "yoda": 2,                       // http://eslint.org/docs/rules/yoda
    "no-console": 0,
    "no-unused-vars": [2, { "ignoreRestSiblings": true }],
    "key-spacing": [2, {
      "beforeColon": true,
      "afterColon": true,
      "mode": "minimum",
      "align": {
          "beforeColon": true,
          "afterColon": true,
          "on": "colon",
          "mode": "strict"
      }
    }]
  }
}
