{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-duplicate-enum-values": "off"
    },
    "overrides": [
        {
            "files": ["**/*.test"],
            "plugins": ["jest"],
            "extends": ["plugin:jest/recommended"],
            "rules": {
                "no-undef": "off",
                "import/first": "off"
            }
        }
    ]
}